body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
}
ul{
    list-style: none;
    display: flex;
    gap:30px;
}
a{
    text-decoration: none;
    color:royalblue
}
.book-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
}

.book-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    border:1px solid black;
}

footer{
    margin-top: 310px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
}