body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.book-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.slider {
  display: flex;
}

footer {
  margin-top: 310px;
  background-color: rgb(55, 141, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
